@use './foundation/_reset' as *;
@use './foundation/_define' as *;

// layout
.l-header {
  color: $color-main;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.l-footer {
  color: #999;
  position: sticky;
  bottom: 0;
}

.l-copy {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  text-align: center;
}

// component
.c-fv {
  font-size: 1.6rem;
  padding: 5em 2em;
  background: rgba(red, 0.1);
}

.c-contents {
  min-height: 1000px;
  font-size: 1.6rem;
  padding: 5em 2em;
  background: rgba(yellow, 0.1);
}

// fill-available
html {
  height: -webkit-fill-available;
}

.c-fv {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
